<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <!--====== Lineicons CSS as we are using this for icons ======-->
    <!--    <link rel="stylesheet" href="/css/bootstrap/lineicons.css"/>-->
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css"/>

    <!--====== Starter Style CSS to make components works ======-->
    <link rel="stylesheet" href="/css/bootstrap/starter.css"/>
    <!--    appbar css-->
    <link rel="stylesheet" href="/css/components/appbar.css"/>
    <!--    main section css-->
    <link rel="stylesheet" href="/css/components/main-section.css"/>
    <!--    card section css-->
    <link rel="stylesheet" href="/css/components/singleCard.css"/>
    <!--    loginForm css-->
    <link rel="stylesheet" href="/css/components/buttonAndInput.css"/>

    <link rel="stylesheet" href="/css/alert/customToastStyle.css">

    <!--SweetAlert Animate-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Bootstrap Bundle JS (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.serializeObject.min.js"></script>

    <script type="text/javascript" src="/js/components/appbar.js"></script>

    <!--    iconify icons(better than lineicon)-->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>


    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript" src="/js/alert/showPresetToast.js"></script>
    <!-- signUp.js -->
    <script type="text/javascript" src="/js/pages/signUp.js"></script>
    <title>비밀번호 찾기</title>
</head>
<body>
<!--====== NAVBAR ONE PART START ======-->
<section class="navbar-area navbar-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg align-items-center justify-content-between">
                    <!-- Logo (fixed width) -->
                    <a class="navbar-brand" href="/">
                        <h1 class="navbar-logo-text">가계뷰</h1>
                    </a>

                    <!-- Hamburger Toggle -->
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarOne"
                            aria-controls="navbarOne"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <!-- Centered Menu -->
                    <div class="collapse navbar-collapse justify-content-center" id="navbarOne">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/finance/">소비 분석</a>
                            </li>
                            <li class="nav-item">
                                <a href="/receipt/">영수증 등록</a>
                            </li>
                            <li class="nav-item">
                                <a href="/map/">마트 안내</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Login/Signup (fixed width) -->
                    <div class="navbar-btn d-none d-sm-block">
                        <ul class="d-flex justify-content-end align-items-center">

                            <!-- Logged in -->
                            <li th:if="${session.SS_USER_ID != null}">
                                <i class="lni lni-user-4" style="font-size: 40px; color: var(--success)"></i>
                            </li>
                            <li class="nav-item dropdown" th:if="${session.SS_USER_ID != null}">
                                <a class="btn primary-btn dropdown-toggle"
                                   href="#"
                                   role="button"
                                   id="userDropdown"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <span th:text="${session.SS_USER_NAME} + '님'"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/user/myPage"
                                           style="color: var(--success)">마이페이지</a></li>
                                    <li><a class="dropdown-item" href="/user/logout"
                                           style="color: var(--error)">로그아웃</a></li>
                                </ul>
                            </li>

                            <!-- Not logged in -->
                            <li th:unless="${session.SS_USER_ID != null}">
                                <a class="btn primary-btn-outline" href="/user/loginForm">로그인</a>
                            </li>
                            <li th:unless="${session.SS_USER_ID != null}">
                                <a class="btn primary-btn" href="/user/userRegForm">회원가입</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--====== NAVBAR ONE PART ENDS ======-->
<!--====== MainSection PART Start ======-->
<section class="main-section">
    <div class="center-wrapper">
        <section class="signin-area signin-one">
            <div class="single-card card-style-one">
                <div class="card-image text-center">
                    <i class="lni lni-question-mark card-icon"></i>
                </div>
                <div class="card-content text-center">
                    <h1 class="title">비밀번호 찾기</h1>

                    <div class="form-style form-style-five">

                        <div class="d-flex gap-3 input-row">
                            <!-- password input -->
                            <div class="form-input mt-3">
                                <label>이메일</label>
                                <div class="input-items default">
                                    <input type="email" placeholder="Email"/>
                                    <iconify-icon icon="material-symbols:mail-outline-rounded"
                                                  class="input-icon"></iconify-icon>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex input-row">
                            <!-- First input -->
                            <div class="form-input mt-4">
                                <label>이메일 인증번호 확인</label>
                                <div class="input-items default input-left">
                                    <input type="text" placeholder=""/>
                                    <iconify-icon icon="material-symbols:numbers-rounded"
                                                  class="input-icon"></iconify-icon>
                                </div>
                            </div>
                            <!-- Button (right) -->
                            <div class="button-item mt-4 input-check-button-right">
                                <a href="javascript:void(0)" class="btn caution-btn-outline btn-sm right-btn">인증 메일
                                    보내기</a>
                            </div>

                        </div>

                        <div class="d-flex button-full-row">
                            <ul class="d-flex flex-wrap mt-3 w-100">
                                <li class="full-button-item w-100">
                                    <a href="javascript:void(0)" class="btn caution-btn btn-sm w-100">비밀번호 찾기</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex dashed-full-row">
                            <div class="dashed-line-container">
                                <hr class="divider-dashed mt-3"/>
                            </div>
                        </div>

                        <div class="d-flex button-row">
                            <!-- password input -->
                            <ul class="d-flex flex-wrap">
                                <li class="button-item">
                                    <a href="javascript:void(0)" class="btn caution-btn-outline btn-sm left-btn"> 아이디
                                        찾기 </a>
                                </li>
                                <li class="button-item">
                                    <a href="javascript:void(0)" class="btn caution-btn-outline btn-sm right-btn"> 로그인</a>
                                </li>
                            </ul>

                        </div>
                        <div class="d-flex button-full-row">
                            <ul class="d-flex flex-wrap w-100 mt-3">
                                <li class="full-button-item w-100">
                                    <a href="javascript:void(0)" class="btn caution-btn-outline btn-sm w-100">회원가입</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
        </section>
    </div>
</section>
<!--====== MainSection PART End ======-->
<script>

</script>

</body>
</html>