.form-group {
    margin-bottom: 0;
}

.form-input .help-block {
    margin-top: 2px;
}
.form-input .help-block .list-unstyled li {
    font-size: 12px;
    line-height: 16px;
    color: var(--error);
}
.form-input label {
    font-size: 12px;
    line-height: 18px;
    color: var(--dark-3);
    margin-bottom: 8px;
    display: inline-block;
}
.form-input .input-items {
    position: relative;
}
.form-input .input-items input, .form-input .input-items textarea {
    width: 100%;
    height: 44px;
    border: 2px solid;
    padding-left: 44px;
    padding-right: 12px;
    position: relative;
    font-size: 16px;
}
.form-input .input-items input:focus, .form-input .input-items textarea:focus {
    box-shadow: var(--shadow-4);
}
.form-input .input-items textarea {
    padding-top: 8px;
    height: 130px;
    resize: none;
}
.form-input .input-items iconify-icon {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 20px;
    z-index: 9;
}
.form-input .input-items.default input, .form-input .input-items.default textarea {
    border-color: var(--caution-light);
    color: var(--dark-3);
}
.form-input .input-items.default input:focus, .form-input .input-items.default textarea:focus {
    border-color: var(--caution-dark);
}
.form-input .input-items.default input::placeholder, .form-input .input-items.default textarea::placeholder {
    color: var(--dark-3);
    opacity: 1;
}
.form-input .input-items.default iconify-icon {
    color: var(--dark-3);
}

.form-style-five .form-input {
    position: relative;
}
.form-style-five .form-input label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--white);
    z-index: 5;
    padding: 0 5px;
}
.form-style-five .form-input .input-items input, .form-style-five .form-input .input-items textarea {
    border-radius: 5px;
}