<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--JAVA와 연결할 Mapper 파일 설정-->
<mapper namespace="kopo.gagyeview.persistence.mapper.IUserInfoMapper">

    <!--    회원가입 전 아이디 중복체크하기-->
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="ExistsYnDTO">
        SELECT IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <!--    회원 가입 전 이메일 중복체크하기-->
    <select id="getEmailExists" parameterType="UserInfoDTO" resultType="ExistsYnDTO">
        SELECT IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <!--    회원정보 등록하기(회원가입하기)-->
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (USER_ID,
         USER_NAME,
         USER_EMAIL,
         USER_PW,
         REG_ID,
         REG_DT,
         CHG_ID,
         CHG_DT)
        VALUES (#{userId},
                #{userName},
                #{userEmail},
                #{userPw},
                #{userId},
                NOW(),
                #{userId},
                NOW())
    </insert>

    <!-- 로그인을 위해 아이디와 비밀번호가 일치하는지 확인하기 -->
    <select id="getLogin" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT USER_ID, USER_NAME, USER_EMAIL
        FROM USER_INFO
        WHERE USER_ID = #{userId}
          AND USER_PW = #{userPw}
    </select>

    <!-- 아이디, 비밀번호 찾기에 활용
    1. 이름과 이메일이 맞다면, 아이디 알려주기
    2. 아이디, 이름과 이메일이 맞다면, 비밀번호 재설정하기
    -->
    <select id="getUserIdOrPw" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
        USER_ID,
        USER_NAME,
        USER_EMAIL
        FROM USER_INFO
        WHERE 1=1
        <if test="userId neq null and userId neq '' "> <!-- 비밀번호 찾기라면, user_id 조회 추가 -->
            AND USER_ID = #{userId}
        </if>
        AND USER_NAME = #{userName}
        AND USER_EMAIL = #{userEmail}
    </select>

    <!-- 비밀번호 재설정 -->
    <update id="updatePassword" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET USER_PW = #{userPw}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 로그인되어있는 상태에서 비밀번호 체크 -->
    <select id="getUserPwCheck" parameterType="UserInfoDTO" resultType="int">
        SELECT COUNT(1)
        FROM USER_INFO
        WHERE USER_ID = #{userId}
          AND USER_PW = #{userPw}
    </select>

    <!-- 이름 업데이트-->
    <update id="updateUserName" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET USER_NAME = #{userName}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 이메일 업데이트 -->
    <update id="updateUserEmail" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET USER_EMAIL = #{userEmail}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 회원탈퇴 -->
    <delete id="deleteUserById" parameterType="UserInfoDTO">
        DELETE FROM USER_INFO
        WHERE USER_ID = #{userId}
    </delete>

</mapper>